body {
	max-width: 960px;
	padding: 20px;
	font-size: large;
	margin: 0 auto;
	background-image: url(background.jpg);
	background-attachment: fixed;
	background-size: cover;
}
.row {
	display: flex;
	padding: 20px 0;
	flex-direction: row;
}
.row .slide {
  display: flex;
	    justify-content: center;
		  align-items: center; 
	font: fixed;
	width: 49ch;
	height: 17em;
	border: solid 1px black;
	padding: 0;
	background-image: url(background.jpg);
	background-size: cover;
	flex-shrink: 0;
	order: 1;
}
.row .notes {
	display: inline-block;
	flex-grow: 1;
	order: 2;
}

.row .notes li {
	padding: 8px;
}

.row:nth-child(even) .notes {
	order: 1;
}

.row:nth-child(even) .slide {
	order: 2;
}

.row .slide.title h1 {
	font-size: x-large;
}

.row .slide.code .in1 {
	display: inline-block;
	width: 4ch;
}

.row .slide.code .in2 {
	display: inline-block;
	width: 8ch;
}

.row .slide.code .in3 {
	display: inline-block;
	width: 12ch;
}

.row .slide.code .in4 {
	display: inline-block;
	width: 16ch;
}

.slide.code .expand, .slide.code .add, .slide.code .end,
.slide.code .include, .slide.code .define,
code.expand, code.add, code.end, code.include, code.define {
	color: #c20;
}

.slide.code .macro-name, code.macro-name, .slide.code .include-name,
.slide.code .define .name,
code.include-name {
	color: #e40;
}

.slide.code .type, code.type {
	color: #338;
}

.slide.code .var, .slide.code .fn, code.var, code.fn {
	color: #262;
}

.slide.code .define .var, .slide.code .define .fn {
	color: #741;
}

.slide.code .keyword, code.keyword {
	color: #800;
	font-weight: bold;
}

.slide.code .define .keyword {
	color: #a10;
}

