body {
	max-width: 960px;
	padding: 20px;
	font-size: large;
	margin: 0 auto;
	background-image: url(background.jpg);
	background-attachment: fixed;
	background-size: cover;
}
div.slides > div {
	display: flex;
	padding: 20px 0;
	flex-direction: row;
}
div.slides > div > div {
	display: flex;
	justify-content: center;
	align-items: center; 
	font: fixed;
	width: 49ch;
	height: 17em;
	border: solid 1px black;
	padding: 0;
	background-image: url(background.jpg);
	background-size: cover;
	flex-shrink: 0;
	order: 1;
}
div.slides > div > ul {
	display: inline-block;
	flex-grow: 1;
	order: 2;
}

div.slides > div > ul > li {
	padding: 8px;
}

div.slides > div:nth-child(even) > ul {
	order: 1;
}

div.slides > div:nth-child(even) > div {
	order: 2;
}

div.slides > div > div h1 {
	font-size: x-large;
}

div.slides > div > div > code .in1 {
	display: inline-block;
	width: 4ch;
}

div.slides > div > div > code .in2 {
	display: inline-block;
	width: 8ch;
}

div.slides > div > div > code .in3 {
	display: inline-block;
	width: 12ch;
}

div.slides > div > div > code .in4 {
	display: inline-block;
	width: 16ch;
}

div.slides > div > div > code .in5 {
	display: inline-block;
	width: 20ch;
}

code .expand, code.expand,
code .add, code.add,
code .end, code.end,
code .include, code.include,
code .define, code.define {
	color: #c20;
}

code .expand .name, code.expand .name,
code .add .name, code.add .name,
code .end .name, code.end .name,
code .include .name, code.include .name,
code .define .name, code.define .name {
	color: #e40;
}

code .type, code.type {
	color: #338;
}

code .var, code.var,
code .fn, code.fn {
	color: #262;
}

code .keyword, code.keyword {
	color: #800;
	font-weight: bold;
}

